// Place all the styles related to the avaliacoes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_avaliacao, .edit_avaliacao {
    padding-bottom: 2em;

    .sintomas-detalhes, .traumatismo-detalhes {
        background-color: #eee;
        padding: 1em;
        box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3) inset;
    }
}